.container {
  margin: 100px;
  height: 500px;
  width: 200px;
  background-color: red;
  overflow: scroll;
}

.test{
  margin: 20px 50px 20px 10px;
  }

  .bg-blue {
    background-color: blue;
  }

  html {
    scroll-behavior: smooth !important;
}

body {
  margin: 0;
}

.hlavicka {
  position: fixed;
  background: greenyellow;
  display: flex; 
  justify-items: end;
  top: 0;
  right: 0;
font-size: 30px;
}

.hlavicka a {
  padding: 10px;
}